.page {
  width: 100%;
}

.option{
  flex: 1 0 auto;
  display: flex;
  border-radius: 50%;
  width: auto;
  color: var(--color-white);
  background-image: conic-gradient(from 0deg at 50% 43.79%, #FF6106 0deg, #FF6106 135deg, #040422 360deg) ;
  /* Fill the inside with white */
  background-origin: border-box;
  box-shadow: inset 0 100vw var(--color-primary);
  /* A transparent border, so the very edge of the button shows through */
  border: 10px solid transparent;
}

.option:before {
  content:'';
  float:left;
  padding-top:100%;
}

.option__label{
  font-size: var(--text-lg);
}

.option__content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.option__content--showamount{
  flex-direction: column;
  gap: 2rem;
}

.option__silhouettes{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1.5rem;
  max-width: 75%;
}

.option__amount{
  display: flex;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: green;
  transform: translate(0, 50%);
}