.option {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
}

.option__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding-top: 4rem;
  border: 12px solid var(--option-color);
  border-radius: var(--rounded-full);
  background-color: var(--bg-color);
  aspect-ratio: 1;
}

.option__label {
  max-width: 75%;
  font-size: var(--text-lg);
  text-align: center;
  overflow-wrap: break-word;
}

.option__label--description {
  max-width: 100%;
  font-size: var(--text-md);
  text-align: center;
}

.option__figure-container {
  display: flex;
  flex-flow: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 75%;
  max-height: 50%;
}

.option__figure-container:has(> :nth-child(14)) {
  gap: 8px;
  height: 66px;
}

.option__figure-icon {
  height: 100%;
  animation: fade-in 0.25s;
}

@keyframes fade-in {
  0% {
    height: 1%;
  }

  100% {
    height: 100%;
  }
}

.option__amount {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  font-size: var(--text-lg);
  border-radius: var(--rounded-full);
  background-color: var(--option-color);
  transform: translate(-50%, -50%);
}

.option--big {
  .option__content {
    justify-content: center;
    width: 80vh;
    margin: auto;
    padding-top: 0;
    border-width: 15px;
  }

  .option__label {
    font-size: var(--text-2xl);
  }
}
