.option__container {
    flex: 1 0 auto;
    display: flex;
    border-radius: 50%;
    width: auto;
    /* Create gradient all over the element */
    background-image: conic-gradient(
      from 0deg at 50% 43.79%,
      var(--option-color-1) 0deg,
      var(--option-color-1) 135deg,
      #040422 360deg
    );
    /* Make sure the gradient fills the whole element (and edges) */
    background-origin: border-box;
    /* Set the background color of the element with a box-shadow because background-color would be overwritten by background-image */
    box-shadow: inset 0 100vw var(--color-primary);
    /* Set the border thickness of the gradient */
    border: 10px solid transparent;
  }
  
  .option__container::before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  
  .option__label {
    font-size: var(--text-lg);
  }
  
  .option__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .option__content--showamount {
    flex-direction: column;
    gap: 2rem;
  }
  
  .option__silhouettes {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1.5rem;
    max-width: 75%;
  }
  
  .option__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto -3rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: green;
    font-size: var(--text-lg);
    font-weight: 700;
    position: relative;
    /* transform: translate(0, 50%); */
  }
  