.option {
  flex: 1 1 0px;
}

.option__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* Set the border thickness of the gradient */
  border: 12px solid transparent;
  border-radius: var(--rounded-full);

  /* Create gradient all over the element */
  background-image: conic-gradient(
    from 0deg at 50% 43.79%,
    var(--option-color) 0deg,
    var(--option-color) 135deg,
    #040422 360deg
  );

  /* Make sure the gradient fills the whole element (and edges) */
  background-origin: border-box;

  /* Set the background color of the element with a box-shadow because background-color would be overwritten by background-image */
  box-shadow: inset 0 100vw var(--color-primary);
  aspect-ratio: 1;
}

.option__label {
  max-width: 75%;
  font-size: var(--text-lg);
  text-align: center;
  overflow-wrap: break-word;
}

.option__label--description {
  font-size: var(--text-md);
  text-align: center;
}

.option__figure-container {
  display: flex;
  flex-flow: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 75%;
  max-height: 50%;
}

.option__amount {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  margin: 0 auto -2.5rem;
  font-weight: 700;
  font-size: var(--text-lg);
  border-radius: var(--rounded-full);
  background-color: var(--option-color);
}

.option--big {
  .option__content {
    border-width: 15px;
  }

  .option__label {
    font-size: var(--text-xl);
  }
}
