.options-view {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.options-view__option--green {
  --option-color: var(--color-green);
}

.options-view__option--pink {
  --option-color: var(--color-pink);
}

.options-view__option--orange {
  --option-color: var(--color-orange);
}

.options-view__option--blue {
  --option-color: var(--color-blue-light);
}

.options-view__option--yellow {
  --option-color: var(--color-yellow-light);
}

.options-view .options-view__option {
  align-self: flex-start;
}

.options-view[data-options-count="1"] .options-view__option {
  align-self: center;
}

.options-view[data-options-count="2"] .options-view__option {
  .option__content {
    width: 75%;
  }
}

.options-view[data-options-count="3"] .options-view__option:nth-child(2) {
  align-self: flex-end;
}

.options-view[data-options-count="4"] .options-view__option:nth-child(2),
.options-view[data-options-count="4"] .options-view__option:nth-child(3) {
  align-self: flex-end;
}

.options-view[data-options-count="5"] .options-view__option:nth-child(3) {
  align-self: flex-end;
}

.options-view[data-options-count="5"] .options-view__option:nth-child(2),
.options-view[data-options-count="5"] .options-view__option:nth-child(4) {
  align-self: center;
}

.options-view:has(> :nth-child(4)) {
  gap: unset;

  .option__amount {
    width: 5rem;
    height: 5rem;
  }

  .option__figure-container {
    gap: 4px;
    height: 30px;
  }

  .option__figure-icon {
    height: 30px;
  }
}
