.start-screen {
  display: grid;
  grid-template:
    "title import fullscreen" auto
    "project_list project_list project_list" 1fr
    / 1fr auto auto;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background-color: var(--color-blue-dark);
}

.start-screen__project-list {
  grid-area: project_list;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-weight: 500;
  border-radius: var(--rounded-base);
  background-color: var(--color-white);
  list-style-type: none;
  overflow: auto;
}

.start-screen__popup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
  margin: auto;
  padding: 1.5rem 2rem;
  border-radius: var(--rounded-base);
  background: var(--color-white);
}

.start-screen__card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  color: var(--color-black);
  background-color: rgb(0 0 0 / 40%);
  backdrop-filter: blur(12px);
}

.start-screen__button-container {
  display: flex;
  gap: 1rem;
}

.start-screen__title {
  grid-area: title;
  color: var(--color-white);
  font-weight: 800;
  font-size: var(--text-md);
}

.start-screen__title--dialog {
  color: var(--color-black);
}

.start-screen__input {
  width: min(100%, 20rem);
}

.start-screen__label {
  display: block;
  margin-bottom: 0.375rem;
  color: var(--color-grey);
  font-weight: 400;
  font-size: 0.875rem;
}

.start-screen__field {
  width: 100%;
  padding: 0.75rem;
  font-weight: 400;
  font-family: var(--font-family);
  line-height: 1;
  border: 1px solid var(--color-grey);
  border-radius: var(--rounded-md);

  &:focus {
    outline-color: var(--color-purple);
    outline-offset: 1px;
  }

  &::placeholder {
    color: var(--color-grey);
  }
}

.start-screen__checkbox {
  width: 1.25rem;
  height: 1.25rem;
  accent-color: var(--color-purple);
}

.start-screen__input--checkbox {
  display: flex;
  gap: 0.25rem;
  align-items: center;

  & .start-screen__label {
    margin-bottom: 0;
    line-height: 1;
  }
}

.start-screen__button {
  padding: 1rem;
  color: var(--color-white);
  font-weight: 600;
  line-height: 1;
  border: none;
  border-radius: var(--rounded-md);
  background-color: var(--color-purple-light);
  appearance: none;

  &:hover {
    background-color: var(--color-purple-lighter);
  }

  &:focus {
    outline: 2px solid var(--color-pink);
  }

  &:disabled {
    background-color: var(--color-grey);
  }
}

.start-screen__button--link {
  padding: 0;
  color: var(--color-black);
  font-size: inherit;
  font-family: inherit;
  text-decoration: underline;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background-color: unset;
  }

  &:focus {
    border-radius: 0;
    outline: 1px solid var(--color-purple);
    outline-offset: 10px;
  }

  &:disabled {
    background-color: var(--color-grey);
  }
}

.start-screen__message {
  color: var(--color-purple);
  white-space: preserve;
}

.start-screen__message--success {
  color: var(--color-green);
}

.start-screen__message--error {
  color: var(--color-red);
}

.start-screen__message--spinner::before {
  content: "";
  display: inline-block;
  height: 1.625rem;
  margin-right: 0.5rem;
  margin-bottom: -0.375rem;
  box-sizing: border-box;
  border: 5px solid var(--color-purple);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 2.5s linear infinite;
  aspect-ratio: 1;
}

.start-screen__fullscreen-button {
  grid-area: fullscreen;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  line-height: 1;
  border-radius: var(--rounded-base);
  background-color: var(--color-white);
  cursor: pointer;
}

.start-screen__import-button {
  grid-area: import;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  line-height: 1;
  border-radius: var(--rounded-base);
  background-color: var(--color-white);
  cursor: pointer;
}

.start-screen__project-title {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-grey-light);
}

.start-screen__project-item {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid var(--color-grey-light);
}

.project-item__title {
  flex-grow: 1;
}

.project-item__controls {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.project-item__spacer {
  height: 2rem;
  border: 1px solid var(--color-grey-light);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
