@import url("./reset.css");
@import url("./theme.css");

/* Base settings that should always apply */
html {
  color: var(--color-white);
  font-family: var(--font-family);
}

@font-face {
  font-family: Manrope;
  font-weight: 600;
  src: url("../../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype-variations");
  font-display: block;
}
