@import url("./reset.css");
@import url("./theme.css");

/* Base settings that should always apply */
html {
  font-weight: 600;
  font-family: var(--font-family);
}

@font-face {
  font-weight: 200 800;
  font-family: Manrope;
  src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype-variations");
  font-display: block;
}
