/* Screen breakpoints */
@custom-media --screen-sm screen and (min-width: 640px);
@custom-media --screen-md screen and (min-width: 768px);
@custom-media --screen-lg screen and (min-width: 1024px);
@custom-media --screen-xl screen and (min-width: 1280px);
@custom-media --screen-2xl screen and (min-width: 1536px);

:root {
  /* HSL values */
  --hsl-white: 0 0% 100%;
  --hsl-grey: 0 0% 50%;
  --hsl-grey-light: 0 0% 30%;
  --hsl-black: 241 80% 7%;
  --hsl-blue-light: 240 72% 47%;
  --hsl-blue: 240 70% 26%;
  --hsl-purple: 263 100% 19%;
  --hsl-green: 120 100% 34%;
  --hsl-pink: 342 73% 67%;
  --hsl-orange: 22 100% 51%;
  --hsl-yellow: 49 100% 30%;
  --hsl-red: 0 69% 48%;

  /* Colours */
  --color-white: hsl(var(--hsl-white));
  --color-grey: hsl(var(--hsl-grey));
  --color-grey-light: hsl(var(--hsl-grey-light));
  --color-black: hsl(var(--hsl-black));
  --color-blue-light: hsl(var(--hsl-blue-light));
  --color-blue: hsl(var(--hsl-blue));
  --color-purple: hsl(var(--hsl-purple));
  --color-green: hsl(var(--hsl-green));
  --color-pink: hsl(var(--hsl-pink));
  --color-orange: hsl(var(--hsl-orange));
  --color-yellow: hsl(var(--hsl-yellow));
  --color-red: hsl(var(--hsl-red));

  /* Fonts */
  --font-family:
    "Manrope", ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont,
    "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-xs: 1.25rem;
  --text-sm: 1.75rem;
  --text-md: 2rem;
  --text-lg: 2.5rem;
  --text-xl: 3rem;
  --text-2xl: 4.75rem;

  /* Border radius */
  --rounded-sm: 2px;
  --rounded-md: 6px;
  --rounded-base: 10px;
  --rounded-full: 9999px;

  /* Screen breakpoints */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  /* Gradients */
  --blue-gradient-dark: linear-gradient(
    90deg,
    var(--color-black) 0%,
    var(--color-blue) 100%
  );
  --blue-light-gradient-dark: linear-gradient(
    180deg,
    var(--color-black) 0%,
    var(--color-blue-light) 100%
  );
  --orange-gradient-dark: linear-gradient(
    180deg,
    var(--color-black) 0%,
    var(--color-orange) 100%
  );
  --pink-gradient-dark: linear-gradient(
    180deg,
    var(--color-black) 0%,
    var(--color-pink) 100%
  );
  --yellow-gradient-dark: linear-gradient(
    180deg,
    var(--color-black) 0%,
    var(--color-yellow) 100%
  );
  --green-gradient-dark: linear-gradient(
    180deg,
    var(--color-black) 0%,
    var(--color-green) 100%
  );
  --blue-gradient-light: linear-gradient(
    90deg,
    var(--color-white) 0%,
    var(--color-blue) 100%
  );
  --blue-light-gradient-light: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-blue-light) 100%
  );
  --orange-gradient-light: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-orange) 100%
  );
  --pink-gradient-light: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-pink) 100%
  );
  --yellow-gradient-light: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-yellow) 100%
  );
  --green-gradient-light: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-green) 100%
  );
}
