/* Screen breakpoints */
@custom-media --screen-sm screen and (min-width: 640px);
@custom-media --screen-md screen and (min-width: 768px);
@custom-media --screen-lg screen and (min-width: 1024px);
@custom-media --screen-xl screen and (min-width: 1280px);
@custom-media --screen-2xl screen and (min-width: 1536px);

:root {
  /* HSL values */
  --hsl-white: 0 0% 100%;
  --hsl-black: 0 0% 0%;
  --hsl-primary: 241, 80%, 7%;
  --hsl-secondary: 240 70% 26%;
  --hsl-grey: 0 0% 50%;
  --hsl-grey-light: 0 0% 30%;
  --hsl-blue-dark: 263 100% 19%;
  --hsl-blue-light: 240 72% 47%;
  --hsl-orange: 22 100% 51%;
  --hsl-pink: 342 73% 67%;
  --hsl-yellow: 49 100% 30%;
  --hsl-green: 120 100% 34%;
  --hsl-red: 0 69% 48%;

  /* Colours */
  --color-white: hsl(var(--hsl-white));
  --color-black: hsl(var(--hsl-black));
  --color-primary: hsl(var(--hsl-primary));
  --color-secondary: hsl(var(--hsl-secondary));
  --color-accent-green: hsl(var(--hsl-green));
  --color-accent-pink: hsl(var(--hsl-pink));
  --color-accent-orange: hsl(var(--hsl-orange));
  --color-grey: hsl(var(--hsl-grey));
  --color-grey-light: hsl(var(--hsl-grey-light));
  --color-blue-dark: hsl(var(--hsl-blue-dark));
  --color-blue-light: hsl(var(--hsl-blue-light));
  --color-yellow: hsl(var(--hsl-yellow));
  --color-error: hsl(var(--hsl-red));

  /* Fonts */
  --font-family: "Manrope", ui-sans-serif, system-ui, -apple-system,
    blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --text-xs: 0.675rem;
  --text-sm: 0.875rem;
  --text-md: 1.2rem;
  --text-lg: 2rem;
  --text-xl: 3rem;
  --text-2xl: 4rem;

  /* Border radius */
  --rounded-sm: 2px;
  --rounded-md: 6px;
  --rounded-base: 10px;
  --rounded-full: 9999px;

  /* Screen breakpoints */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  /* Gradients */
  --squircle-gradient: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --blue-gradient: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-blue-light) 100%
  );
  --orange-gradient: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-accent-orange) 100%
  );
  --pink-gradient: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-accent-pink) 100%
  );
  --yellow-gradient: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-yellow) 100%
  );
  --green-gradient: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-accent-green) 100%
  );
}
